
nextflow.enable.dsl=2

params {
    /*
     * Parameters:
     * - input_video: path to an input video file
     * - input_batch: file containing a list of input video files
     * - num_mice: number of mice in the video (only used for multi-mouse pipeline)
     * - pipeline: processing pipeline, single-mouse or multi-mouse
     * - profile: processing profile, sumner2 or development
     * - location: location of the data, local or dropbox
     */
    input = "NO_FILE"
    input_batch = "NO_FILE"
    num_mice = 3
    pipeline = 'single-mouse'
    profile = 'sumner2'
    clip_duration = 108000
    batch_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
    batch_name = "batch_${batch_timestamp}"
    location = 'local'
}

manifest {
    name = "Kumar Lab Mouse Tracking Pipelines"
    homePage = "https://github.com/KumarLabJax/mouse-tracking-runtime"
    mainScript = "main.nf"
    nextflowVersion = "!>=22.04.3"
    version = "0.0.1"
    author = 'Brian Geuther'
}

profiles {
    development  { includeConfig "nextflow/configs/profiles/development.config" }
    sumner2      { includeConfig "nextflow/configs/profiles/sumner2.config" }
}
