// development configuration file

params {
    reference_cache='/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/nextflow'
    pubdir = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/nf-tests"
    tracking_code_dir = "/kumar_lab_models/mouse-tracking-runtime/"
    gait_code_dir = "/gait-analysis/"
    vfi_code_dir = "/vfi/Code/"
}

singularity {
   enabled = true
   autoMounts = true
}

process {
    executor = 'local'
    withLabel: "gpu" {
        maxForks = 1
        containerOptions = "--nv"
    }


    /*
     * Runtime options
     */
    withLabel: "tracking" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/vm/deployment-runtime_2024-12-31.sif"
    }
    withLabel: "jabs_classify" {
        container = "/media/bgeuther/Storage/TempStorage/JABS-GUI-2024-12-12_v0.17.3.sif"
    }
    withLabel: "jabs_postprocess" {
        container = "/media/bgeuther/Storage/TempStorage/JABS-Postprocessing-2024-12-17_6acaeb7.sif"
    }
    withLabel: "gait" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/tests/gait/gaitanalysis/vm/gait-pipeline-2025-01-30.sif"
    }
        withLabel: "frailty" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/tests/vfi/vFI-features/vm/vfi.sif"
    }
    withLabel: "dropbox" {
        DROPBOX_PREFIX = "labdropbox:KumarLab's shared workspace/VideoData/MDS_Tests"
    }
}

executor {
    name = 'local'
}
