// development configuration file

workDir = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/work/"

params {
    /*
     * Additional Parameters for the development profile
     * These parameters are described in the sumner2 profile
     */
    pubdir = "/media/bgeuther/Storage/TempStorage/onnx/nf-tests"
    tracking_code_dir = "/kumar_lab_models/mouse-tracking-runtime/"
    gait_code_dir = "/gait-analysis/"
    vfi_code_dir = "/vfi/Code/"
    support_code_dir = "/mouse-tracking-runtime/support_code/"
    heuristic_classifier_folder = "/JABS-postprocess/heuristic_classifiers/"

    jabs_version = "0.18.1"
    classifier_project_folders = "/media/bgeuther/Storage/TempStorage/jabs-classifiers/project_folders/"
    classifier_training_file_folder = "/media/bgeuther/Storage/TempStorage/jabs-classifiers/training_files/"
    exported_classifier_folder = "/media/bgeuther/Storage/TempStorage/jabs-classifiers/exported_classifiers/"
    classifier_artifact_suffix = "_classifier_v${jabs_version}.pickle"
    classifier_window_sizes = [2, 5, 10, 20, 30, 60]
    // Classifiers are described as behavior_name: project_folder
    single_mouse_classifiers = [
        // Missing classifiers did not have artifacts exported on local test
        // "grooming": [
        //     "project_folder_name": "grooming",
        //     "stitch_value": 10*30,
        //     "filter_value": 3*30,
        // ],
        // "scratch": [
        //     "project_folder_name": "jabs-paper",
        //     "stitch_value": 5,
        //     "filter_value": 5,
        // ],
        // "Leg_splaying": [
        //     "project_folder_name": "ptz",
        //     "stitch_value": 5,
        //     "filter_value": 5,
        // ],
        // "Side_seizure": [
        //     "project_folder_name": "ptz",
        //     "stitch_value": 5,
        //     "filter_value": 5,
        // ],
        // "Tail_jerk": [
        //     "project_folder_name": "ptz",
        //     "stitch_value": 5,
        //     "filter_value": 5,
        // ],
        // "Wild_jumping": [
        //     "project_folder_name": "ptz",
        //     "stitch_value": 5,
        //     "filter_value": 5,
        // ],
        // "Escape": [
        //     "project_folder_name": "jabs-vivek",
        //     "stitch_value": 5,
        //     "filter_value": 5,
        // ],
        "Rearing_supported": [
            "project_folder_name": "jabs-vivek",
            "stitch_value": 5,
            "filter_value": 5,
        ],
        "Rearing_unsupported": [
            "project_folder_name": "jabs-vivek",
            "stitch_value": 5,
            "filter_value": 5,
        ],
        // "Turn_left": [
        //     "project_folder_name": "jabs-vivek",
        //     "stitch_value": 5,
        //     "filter_value": 5,
        // ],
        // "Turn_right": [
        //     "project_folder_name": "jabs-vivek",
        //     "stitch_value": 5,
        //     "filter_value": 5,
        // ],
        // "Jerk": [
        //     "project_folder_name": "social-play",
        //     "stitch_value": 5,
        //     "filter_value": 5,
        // ]
    ]
    heuristic_classifiers = ["corner", "corner_facing", "freeze", "locomotion", "periphery", "wall_facing"]

    // Number of 5-minute bins for transforming summary tables into bins
    // 1 = 5 minutes, 4 = 20 minutes, etc.
    feature_bins = [1, 4, 11]

    // Some default parameters for branches in the pipeline
    default_feature_input = ["${projectDir}/nextflow/default-data/DEFAULT_VIDEO.mp4", "${projectDir}/nextflow/default-data/DEFAULT_VIDEO_pose_est_v6.h5"]
    default_manual_correction_input = default_feature_input
}

singularity {
   enabled = true
   autoMounts = true
}

process {
    executor = 'local'

    // Since we can't assume local has multiple GPUs, we limit all tasks
    // Note that maxForks attached to GPU label will only limit processes of the same name
    queueSize = 1

    withLabel: "gpu" {
        maxForks = 1
        containerOptions = "--nv"
    }


    /*
     * Runtime options
     */
    withLabel: "tracking" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/vm/deployment-runtime_2025-03-05.sif"
    }
    withLabel: "jabs_classify" {
        container = "/media/bgeuther/Storage/TempStorage/JABS-GUI_2025-02-12_v0.18.1.sif"
        // Classifiers exist in a folder not bound by default
        containerOptions = "-B /media"
    }
    withLabel: "jabs_postprocess" {
        container = "/media/bgeuther/Storage/TempStorage/JABS-Postprocessing-2025-03-12_69e12a7.sif"
    }
    withLabel: "jabs_table_convert" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/vm/support-r-code_2025-02-11.sif"
    }
    withLabel: "gait" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/tests/gait/gaitanalysis/vm/gait-pipeline-2025-01-30.sif"
    }
    withLabel: "frailty" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/tests/vfi/vFI-features/vm/vfi-2025-02-04.sif"
    }
    withLabel: "sleap" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/vm/sleap-1.4.1.sif"
    }
    withLabel: "sleap_io" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/vm/sleap-io-0.2.0.sif"
    }
    withLabel: "dropbox" {
        DROPBOX_PREFIX = "labdropbox:KumarLab's shared workspace/VideoData/MDS_Tests"
    }
}

executor {
    name = 'local'
}
