// development configuration file

params {
    reference_cache='/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/nextflow'
    workDir = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/work/"
    pubdir = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/nf-tests"
    tracking_code_dir = "/kumar_lab_models/mouse-tracking-runtime/"
    gait_code_dir = "/gait-analysis/"
    vfi_code_dir = "/vfi/Code/"
    support_code_dir = "/mouse-tracking-runtime/support_code/"
    heuristic_classifier_folder = "/JABS-postprocess/heuristic_classifiers/"

    jabs_version = "0.18.1"
    classifier_project_folders = "/media/bgeuther/Storage/TempStorage/jabs-classifiers/project_folders/"
    classifier_training_file_folder = "/media/bgeuther/Storage/TempStorage/jabs-classifiers/training_files/"
    exported_classifier_folder = "/media/bgeuther/Storage/TempStorage/jabs-classifiers/exported_classifiers/"
    classifier_artifact_suffix = "_classifier_v${jabs_version}.pickle"
    classifier_window_sizes = [2, 5, 10, 20, 30, 60]
    // Classifiers are described as behavior_name: project_folder
    single_mouse_classifiers = [
        "Rearing_supported": "jabs-vivek",
        "Rearing_unsupported": "jab-vivek",
    ]
    heuristic_classifiers = ["corner", "corner_facing", "freeze", "locomotion", "periphery", "wall_facing"]

    // Number of 5-minute bins for transforming summary tables into bins
    // 1 = 5 minutes, 4 = 20 minutes, etc.
    feature_bins = [1, 4, 11]

    // Some default parameters for branches in the pipeline
    default_feature_input = ["${params.reference_cache}/default-data/DEFAULT_VIDEO.mp4", "${params.reference_cache}/default-data/DEFAULT_VIDEO_pose_est_v6.h5"]
    default_manual_correction_input = default_feature_input
}

singularity {
   enabled = true
   autoMounts = true
}

process {
    executor = 'local'

    // Since we can't assume local has multiple GPUs, we limit all tasks
    // Note that maxForks attached to GPU label will only limit processes of the same name
    queueSize = 1

    withLabel: "gpu" {
        maxForks = 1
        containerOptions = "--nv"
    }


    /*
     * Runtime options
     */
    withLabel: "tracking" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/vm/deployment-runtime_2025-03-05.sif"
    }
    withLabel: "jabs_classify" {
        container = "/media/bgeuther/Storage/TempStorage/JABS-GUI_2025-02-12_v0.18.1.sif"
        // Classifiers exist in a folder not bound by default
        containerOptions = "-B /media"
    }
    withLabel: "jabs_postprocess" {
        container = "/media/bgeuther/Storage/TempStorage/JABS-Postprocessing-2024-12-17_6acaeb7.sif"
    }
    withLabel: "jabs_table_convert" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/vm/support-r-code_2025-02-11.sif"
    }
    withLabel: "gait" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/tests/gait/gaitanalysis/vm/gait-pipeline-2025-01-30.sif"
    }
    withLabel: "frailty" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/tests/vfi/vFI-features/vm/vfi-2025-02-04.sif"
    }
    withLabel: "sleap" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/vm/sleap-1.4.1.sif"
    }
    withLabel: "sleap-io" {
        container = "/media/bgeuther/Storage/TempStorage/onnx/onnx-pipelines/vm/sleap-io-0.2.0.sif"
    }
    withLabel: "dropbox" {
        DROPBOX_PREFIX = "labdropbox:KumarLab's shared workspace/VideoData/MDS_Tests"
    }
}

executor {
    name = 'local'
}
