// sumner2 configuration file

params {
    reference_cache='/projects/kumar-lab/multimouse-pipeline/nextflow'
    workDir = "/flashscratch/${USER}"
    pubdir = "/projects/kumar-lab/${USER}"
    tracking_code_dir = "/kumar_lab_models/mouse-tracking-runtime/"
    gait_code_dir = "/gait-analysis/"
}

apptainer {
   enabled = true
   autoMounts = true
 }

process {
    executor = 'slurm'
    module = 'slurm'

    /*
     * JAX cluster options
     */
    withLabel: "gpu" {
        queue = "gpu_a100"
        clusterOptions = '-q gpu_inference'
        cpus = 4
        time = '6:00:00'
        memory = '64 GB'
        containerOptions = "--nv"
    }
    // Alternative GPU labels
    withLabel: "gpu_a100" {
        queue = "gpu_a100"
        clusterOptions = '-q gpu_inference'
        cpus = 4
        time = '6:00:00'
        memory = '64 GB'
        containerOptions = "--nv"
    }
    withLabel: "gpu_v100" {
        queue = "gpu_v100"
        clusterOptions = '-q gpu_inference'
        cpus = 2
        time = '6:00:00'
        memory = '32 GB'
        containerOptions = "--nv"
    }
    withLabel: "gpu_a100_mig" {
        queue = "gpu_a100_mig"
        clusterOptions = '-q gpu_inference'
        cpus = 2
        time = '6:00:00'
        memory = '16 GB'
        containerOptions = "--nv"
    }
    withLabel: "cpu" {
        queue = "batch"
        cpus = 2
        time = '8:00:00'
        memory = '32 GB'
    }

    /*
     * Runtime options
     */
    withLabel: "tracking" {
        container = "/projects/kumar-lab/multimouse-pipeline/deployment-runtime-RHEL9-current.sif"
    }
    withLabel: "jabs_classify" {
        container = "/projects/kumar-lab/JABS/JABS-Classify-current.sif"
    }
    withLabel: "jabs_postprocess" {
        container = "/projects/kumar-lab/JABS/JABS-Postprocessing-current.sif"
    }
    withLabel: "gait" {
        container = "/projects/kumar-lab/beierj/STARprotocol_Pose_Gait/Gait/vm/gait-pipeline.sif"
    }
    withLabel: "frailty" {
        container = "/projects/kumar-lab/bergem/sing_containers_sif/vFI-features.sif"
    }
    withLabel: "rclone" {
        executor.queueSize = 1
        container = "/projects/kumar-lab/multimouse-pipeline/rclone.sif"
    }
    withLabel: "dropbox" {
        DROPBOX_PREFIX = "labdropbox:KumarLab's shared workspace/VideoData/MDS_Tests"
    }
}

executor {
    name = 'slurm'
    // The number of tasks the executor will handle in a parallel manner
    queueSize = 150
    submitRateLimit = '1 / 2 s'
    // Determines the max rate of job submission per time unit, for example '10sec' eg. max 10 jobs per second or '1/2 s' i.e. 1 job submissions every 2 seconds.
}
