// sumner2 configuration file

params {
    reference_cache='/projects/kumar-lab/multimouse-pipeline/nextflow'
    workDir = "/flashscratch/${USER}"
    pubdir = "/projects/kumar-lab/${USER}"
    tracking_code_dir = "/kumar_lab_models/mouse-tracking-runtime/"
    gait_code_dir = "/gait-analysis/"
    vfi_code_dir = "/vfi/Code/"
    support_code_dir = "/mouse-tracking-runtime/support_code/"
    heuristic_classifier_folder = "/JABS-postprocess/heuristic_classifiers/"

    jabs_version = "0.18.1"
    classifier_project_folders = "/projects/kumar-lab/multimouse-pipeline/nextflow-artifacts/project_folders/"
    classifier_training_file_folder = "/projects/kumar-lab/multimouse-pipeline/nextflow-artifacts/training_files/"
    exported_classifier_folder = "/projects/kumar-lab/multimouse-pipeline/nextflow-artifacts/exported_classifiers/"
    classifier_artifact_suffix = "_classifier_v${jabs_version}.pickle"
    classifier_window_sizes = [2, 5, 10, 20, 30, 60]
    // Classifiers are described as behavior_name: project_folder
    single_mouse_classifiers = [
        "Rearing_supported": "jabs-vivek",
        "Rearing_unsupported": "jab-vivek",
    ]
    heuristic_classifiers = ["corner", "corner_facing", "freeze", "locomotion", "periphery", "wall_facing"]

    // Number of 5-minute bins for transforming summary tables into bins
    // 1 = 5 minutes, 4 = 20 minutes, etc.
    feature_bins = [1, 4, 11]
}

apptainer {
   enabled = true
   autoMounts = true
 }

process {
    executor = 'slurm'
    module = 'slurm'

    /*
     * JAX cluster options
     */
    withLabel: "gpu" {
        queue = "gpu_a100"
        clusterOptions = '-q gpu_inference'
        cpus = 4
        time = '6:00:00'
        memory = '64 GB'
        containerOptions = "--nv"
    }
    // Alternative GPU labels
    withLabel: "gpu_a100" {
        queue = "gpu_a100"
        clusterOptions = '-q gpu_inference'
        cpus = 4
        time = '6:00:00'
        memory = '64 GB'
        containerOptions = "--nv"
    }
    withLabel: "gpu_v100" {
        queue = "gpu_v100"
        clusterOptions = '-q gpu_inference'
        cpus = 2
        time = '6:00:00'
        memory = '32 GB'
        containerOptions = "--nv"
    }
    withLabel: "gpu_a100_mig" {
        queue = "gpu_a100_mig"
        clusterOptions = '-q gpu_inference'
        cpus = 2
        time = '6:00:00'
        memory = '16 GB'
        containerOptions = "--nv"
    }
    withLabel: "cpu" {
        queue = "batch"
        cpus = 2
        time = '8:00:00'
        memory = '32 GB'
    }

    /*
     * Runtime options
     */
    withLabel: "tracking" {
        container = "/projects/kumar-lab/multimouse-pipeline/deployment-runtime_2025-02-06.sif"
    }
    withLabel: "jabs_classify" {
        container = "/projects/kumar-lab/multimouse-pipeline/nextflow-containers/JABS-GUI_2025-02-12_v0.18.1.sif"
    }
    withLabel: "jabs_postprocess" {
        container = "/projects/kumar-lab/multimouse-pipeline/nextflow-containers/JABS-Postprocessing-2024-12-17_6acaeb7.sif"
    }
    withLabel: "jabs_table_convert" {
        container = "/projects/kumar-lab/multimouse-pipeline/nextflow-containers/support-r-code_2025-02-11.sif"
    }
    withLabel: "gait" {
        container = "/projects/kumar-lab/multimouse-pipeline/nextflow-containers/gait-pipeline-2025-01-30.sif"
    }
    withLabel: "frailty" {
        container = "/projects/kumar-lab/multimouse-pipeline/nextflow-containers/vfi-2025-02-04.sif"
    }
    withLabel: "sleap" {
        container = "/projects/kumar-lab/multimouse-pipeline/nextflow-containers/sleap-1.4.1.sif"
    }
    withLabel: "rclone" {
        executor.queueSize = 1
        container = "/projects/kumar-lab/multimouse-pipeline/rclone.sif"
    }
    withLabel: "dropbox" {
        DROPBOX_PREFIX = "labdropbox:KumarLab's shared workspace/VideoData/MDS_Tests"
    }
}

executor {
    name = 'slurm'
    // The number of tasks the executor will handle in a parallel manner
    queueSize = 150
    submitRateLimit = '1 / 2 s'
    // Determines the max rate of job submission per time unit, for example '10sec' eg. max 10 jobs per second or '1/2 s' i.e. 1 job submissions every 2 seconds.
}
