// Delete work directory upon successful completion of the entire workflow (all videos in the batch).
// This clears out the temporary copy of all video files.
cleanup = true
// The work directory is where videos are retrieved and compute conducted.
workDir = "/flashscratch/${USER}/dropbox-compression"

singularity {
   enabled = true
   autoMounts = true
 }

process {
    executor = 'slurm'
    module = 'slurm'
}

executor {
    name = 'slurm'
    // The number of tasks the executor will handle in a parallel manner
    queueSize = 100
    submitRateLimit = '1 s'
}

params {
    input_batch = ""
    dropbox_config = "/projects/kumar-lab/meta/secrets/tokens/rclone_dropbox.conf"
    dropbox_prefix = "labdropbox:\"/KumarLab's shared workspace/VideoData/MDS_Tests/\""

    // Cloudian will not collapse slashes (it is TRUE object storage).
    // This prefix assumes that the file starts with a slash.
    // Also separated alias and prefix to allow quoting of paths (allows spaces)
    cloudian_config = "/projects/kumar-lab/meta/secrets/tokens/rclone_cloudian.conf"
    cloudian_alias = "cloudian"
    cloudian_prefix = "dropbox-video-data/MDS_Videos"
}
