cleanup = true
workDir = "/flashscratch/${USER}/dropbox-compression"

singularity {
   enabled = true
   autoMounts = true
 }

process {
    executor = 'slurm'
    module = 'slurm'
}

executor {
    name = 'slurm'
    // The number of tasks the executor will handle in a parallel manner
    queueSize = 100
    submitRateLimit = '1 s'
}

params {
    input_batch = ""
    dropbox_config = "/projects/kumar-lab/meta/secrets/tokens/rclone_dropbox.conf"
    dropbox_prefix = "labdropbox:\"/KumarLab's shared workspace/VideoData/MDS_Tests/\""

    cloudian_config = "/projects/kumar-lab/meta/secrets/tokens/rclone_cloudian.conf"
    cloudian_prefix = "cloudian:dropbox-video-data/MDS_Videos/"
}
